.div-block{
    background:rgb(60, 60, 60);
    width: 80%;
    height: 40%;
}

.div-block2{
    background:rgb(60, 60, 60);
    width: 80%;
    height: 40%;
}

.issue-second-block{
    width:90% ;
    margin-left: 9.5%;
    display: flex;
    
}

.issues-parts{
    width: 60%;
}

.issues-parts2{
    width: 60%;
    margin-left: 0.5%;
}